@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
.hader {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}


.container {
    max-width: 1200;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.Microcreditos {
    font-weight: 800;
    font-size: 25px;
    color: #FC697A;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;

}

.menu .navbar ul li a {
    font-size: 20px;
    font-weight: 600;
    padding: 17px;
    color: #656875;
    display: block;
    text-transform: uppercase;
}

.menu .navbar ul li a {
    color: #12114D;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

main {
    padding: 130px;
}

section {
    background-color: rgb(44, 124, 134);
    margin: 30px 0;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}

h3 {
    color: #003366;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media(max-width:991px) {
    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: #f0EFEF;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
    main {
        flex-direction: column;
        padding: 50px 30px 20px 30px;
        margin: 0;
    }

    section {
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 25px;
    }
}